/*

* background: #333
* foreground: #999
* occrp: #982022
* blue: #0099cc
* ID green: #3a4953

*/

body {
    background-color: #222;
    color: #999;
    font-size: 14px;
}

i {
    color: #982022;
}

a, a:visited, a:hover {
    color: #999;
    text-decoration: underline;
}

a.no-underline, a.no-underline:hover {
    text-decoration: none;
}

.error, .error i, .error code, a.error, a.error:hover {
    color: red;
    text-decoration: none;
}

.warning, .warning i, .warning code, a.warning, a.warning:hover {
    color: orange;
    text-decoration: none;
}

#airlock {
    position: relative;
    background-color: #333;
    min-height: 80vh;
    padding-bottom: 1em;
    padding-top: 1em;
}

header {
    padding-top: 1em;
    padding-bottom: 1em;
}

footer {
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: right;
}

footer p {
    margin-bottom: 0.2em;
}

/* Table */

.table td, .table th {
    border-top: 1px solid #222;
}

td.number, th.number {
    text-align: right;
}

td.nobreak {
    white-space: nowrap;
}

th.heading {
    background: #222;
    font-size: 1.1em;
}

/* Button */

.invoke {
    background-color: #222;
    color: #999;
    padding: 0.2em 0.5em 0.2em 0.5em;
    font-size: 0.8em;
    border-radius: 0.1em;
    display: inline-block;
    font-weight: bolder;
    text-decoration: none;
}

.invoke:hover {
    text-decoration: none;
    background-color: #000;
}

.invoke i {
    color: #999;
    margin-right: 0.2em;
}

.invoke.done, .invoke.done i {
    background-color: #111;
    color: #555;
}

/* Utility */

code {
    background-color: #333;
    padding: 0;
    color: #999;
}

pre {
    color: #999;
    background-color: #222;
    padding: 0.5em;
    margin-top: 1em;
}

hr {
    border-top: 1px solid #222;
}

.breadcrumb {
    background-color: #222;
}

.pagination li a, .pagination li a:hover {
    background-color: #333;
    border: 1px solid #222;
    color: #999;
}

.pagination li a:hover {
    background-color: #222;
}