*.env
*.egg-info
*.pyc
*.rdb
.vscode/*
dist/*
build/*
data/*
ui/data/*
env*
celerybeat-schedule*
*.sh
.DS_Store
*.sqlite3
docs/_build
docs/_static
docs/_templates
.cache/*
.coverage
memorious/tests/testdata/data/*
.tox
.pytest_cache/*
.idea/