version: "2"

services:
  datastore:
    image: postgres:11.4
    volumes:
      - "./build/datastore:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: datastore
      POSTGRES_PASSWORD: datastore

  redis:
    image: redis:alpine
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./build/redis-data:/data

  redis-commander:
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
      REDIS_HOSTS: local:redis:6379
    ports:
    - "8081:8081"

  worker:
    build: .
    command: sh /crawlers/scripts/worker.sh
    links:
      - redis
      - datastore
    volumes:
      - "./build/data:/data"
      - "./example:/crawlers"
      - "./memorious:/memorious/memorious"
    tmpfs:
      - "/tmp"
    environment:
        MEMORIOUS_BASE_PATH: /data
        MEMORIOUS_CONFIG_PATH: /crawlers/config
        MEMORIOUS_DEBUG: "false"
        ARCHIVE_PATH: /data/archive
        REDIS_URL: redis://redis:6379/0
        MEMORIOUS_DATASTORE_URI: postgresql://datastore:datastore@datastore/datastore
        WORKER_THREADS: 20
    ports:
      - "5678:5678"

  ui:
    build: .
    command: sh /crawlers/scripts/ui.sh
    links:
      - redis
      - datastore
    volumes:
      - "./build/data:/data"
      - "./example:/crawlers"
      - "./memorious:/memorious/memorious"
    tmpfs:
      - "/tmp"
    ports:
      - "8000:8000"
    environment:
        MEMORIOUS_BASE_PATH: /data
        MEMORIOUS_CONFIG_PATH: /crawlers/config
        MEMORIOUS_DEBUG: "false"
        ARCHIVE_PATH: /data/archive
        REDIS_URL: redis://redis:6379/0
        MEMORIOUS_DATASTORE_URI: postgresql://datastore:datastore@datastore/datastore
        WORKER_THREADS: 20