# Memorious environment confinguration
#
# This file is loaded by docker-compose and transformed into a set of
# environment variables inside the containers.

MEMORIOUS_DEBUG=false
MEMORIOUS_EAGER=false
MEMORIOUS_CONFIG_PATH=/path/to/crawlers

# Archive is either file or s3
MEMORIOUS_ARCHIVE_TYPE=file
MEMORIOUS_ARCHIVE_PATH=/data
# MEMORIOUS_ARCHIVE_AWS_KEY_ID=
# MEMORIOUS_ARCHIVE_AWS_SECRET=
# MEMORIOUS_ARCHIVE_AWS_REGION=
# MEMORIOUS_ARCHIVE_BUCKET=

# Configure to feed into an Aleph instance
# ALEPH_HOST=https://data.occrp.org/
# ALEPH_API_KEY=