{%extends "layout.html" %}

{% block title %}
    Events: {{crawler.name}}
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('.index') }}">Crawlers</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('.crawler', name=crawler.name) }}">{{crawler.name}}</a>
        </li>
        <li class="breadcrumb-item active">
            Errors and Warnings
        </li>
    </ol>
{% endblock %}

