{%extends "layout.html" %}

{% block title %}
    Events: {{crawler.name}}
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('.index') }}">Crawlers</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('.crawler', name=crawler.name) }}">{{crawler.name}}</a>
        </li>
        <li class="breadcrumb-item active">
            Errors and Warnings
        </li>
    </ol>

    <table class="table table-sm">
        <tr>
            <th>Stage</th>
            <th>Error</th>
            <th>Message</th>
            <th class="number">Timestamp</th>
        </tr>
        {% for res in events.results %}
            <tr>
                <td>
                    <code>
                        {{res.stage}}
                    </code>
                </td>
                <td class="nobreak">
                    <span class="{{res.level}}">
                        <i class="fa fa-warning" aria-hidden="true"></i>
                        <code>
                            {{ res.error_type or '' }}
                        </code>
                    </span>
                </td>
                <td>
                    {{res.error_message}}
                </td>
                <td class="number nobreak">
                    {{res.timestamp | datetime}}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="float-right">
        <ul class="pagination">
            {% if events.page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ state_change('page', events.page - 1)}}">Previous</a>
                </li>
            {% endif %}
            {% if (events.page + 1) <= events.pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ state_change('page', events.page + 1)}}">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="clearfix"></div>
{% endblock %}

