{%extends "layout.html" %}

{% block title %}
    Crawler overview
{% endblock %}

{% block content %}
    <table class="table table-sm">
        <tr>
            <th>Crawler</th>
            <th>Description</th>
            <th>Schedule</th>
            <th class="number">Runs (Ops)</th>
            <th>Latest</th>
            <th class="number">Errors</th>
            <th class="number">Warn</th>
            <th class="number">Action</th>
        </tr>

        {% for item in crawlers %}
            <tr>
                <td>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="{{ url_for('.crawler', name=item.crawler.name) }}">
                        <code>{{item.crawler.name}}</code>
                    </a>
                </td>
                <td>
                    {{item.crawler.description}}
                </td>
                <td>
                    {{item.crawler.schedule or 'none'}}
                </td>
                <td class="number">
                    {% if item.operations %}
                        {{item.runs | number}}
                        ({{item.operations | number}})
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {{item.last_active | date}}
                </td>
                <td class="number">
                    {% if item.error %}
                        <a href="{{ url_for('.events', name=item.crawler.name, level='error') }}" class="error">
                            {{item.error | number}}
                            <i class="fa fa-warning" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </td>
                <td class="number">
                    {% if item.warning %}
                        <a href="{{ url_for('.events', name=item.crawler.name, level='warning') }}" class="warning">
                            {{item.warning | number}}
                            <i class="fa fa-warning" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </td>
                <td class="number">
                    <a class="invoke" href='#' data-crawler="{{ item.crawler.name }}" data-action="run">
                        <i class="fa fa-play" aria-hidden="true"></i>    
                        Run
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

