name: memorious

on: [push, pull_request]

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Show ref
      run: |
        echo "$GITHUB_REF"
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install dependencies
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo apt-get install -y -qq p7zip-full libicu-dev
        python -m pip install -U pip setuptools pyicu twine wheel
        pip install pytest pytest-env pytest-cov pytest-mock
        pip install -e .
    - name: Run the tests
      run: |
        pytest --cov=memorious --cov-report term-missing
    - name: Build a distribution
      if: github.event_name == 'push'
      run: |
        python setup.py sdist bdist_wheel
    - name: Publish a Python distribution to PyPI
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}

  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Show ref
      run: |
        echo "$GITHUB_REF"
    - name: Build docker image
      run: |
        docker build -t alephdata/memorious:latest .
    - name: Push docker image (master)
      if: github.event_name == 'push'
      run: |
        docker login -u ${{ secrets.docker_user }} -p ${{ secrets.docker_password }}
        docker build -t alephdata/memorious:${GITHUB_SHA} .
        docker push alephdata/memorious:${GITHUB_SHA}
    - name: Push docker image for tags
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      run: |
        docker login -u ${{ secrets.docker_user }} -p ${{ secrets.docker_password }}
        docker build -t alephdata/memorious:${GITHUB_REF/refs\/tags\//} .
        docker push alephdata/memorious:${GITHUB_REF/refs\/tags\//}
        docker push alephdata/memorious:latest